* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: auto auto;
  font-size: 13px;
  font-family: "Open sans", serif;
}
.application {
  margin: 80px auto;
  width: 650px;
  height: 450px;
}
aside {
  width: 24%;
  float: left;
  height: 100%;
}
header {
  border-top-left-radius: 10px;
  background: #111022;
  height: 40px;
  padding: 12px;
  box-sizing: border-box;
}
header .icons {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
}
header .icon-close {
  background: #FF584F;
}
header .icon-minimize {
  background: #FEBC1B;
}
header .icon-maximize {
  background: #01CD46;
}
nav {
  background: rgba(17, 16, 34, 0.9);
  max-height: 100%;
  height: 410px;
  border-bottom-left-radius: 10px;
}
nav li {
  cursor: pointer;
}
nav a {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  padding: 15px 12px;
}
nav .active,
nav li:hover {
  background: #292a47;
}
nav img {
  margin-right: 10px;
}
nav span {
  text-align: center;
  color: #787C88;
  position: absolute;
  right: 15px;
  bottom: 50%;
  transform: translateY(50%);
}
main {
  background: #fff;
  width: 76%;
  float: left;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  padding: 12px;
  box-sizing: border-box;
}
main .date {
  color: #9e9c9c;
  font-size: 11px;
}
main h2 {
  color: #2D2C2D;
  font-size: 14px;
}
main li {
  border: 1px solid #c2c5cf;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
main .star {
  display: none;
}
main .important {
  display: block;
}
